body {
	background-color: #040404;
}

.container {
	height: 100vh;
}

.fill-black svg {
	fill: #000;
}

.fill-white svg {
	fill: #fff;
}

.fill-black-hover:hover svg,
.fill-black-hover:focus svg {
	fill: #000;
}

.fill-white-hover:hover svg,
.fill-white-hover:focus svg {
	fill: #fff;
}
